absl-py
aiohttp==3.7.3
async-timeout==3.0.1
attrs
blinker==1.4
brotlipy==0.7.0
cachetools
certifi==2020.12.5
cffi
chardet
click==7.1.2
cryptography
cycler==0.10.0
fsspec
future
google-auth==1.27.0
google-auth-oauthlib==0.4.2
grpcio==1.35.0
idna
importlib-metadata
joblib
kiwisolver
Markdown
matplotlib
mkl-fft==1.2.1
mkl-random==1.1.1
mkl-service==2.3.0
multidict
numpy
oauthlib==3.1.0
olefile==0.46
packaging
pandas==1.2.2
Pillow
protobuf==3.15.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytorch-lightning==1.2.0
pytz
PyYAML==5.4.1
requests
requests-oauthlib
rsa
scikit-learn==0.22.1
scipy==1.4.1
six
tensorboard
tensorboard-plugin-wit
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado
tqdm
typing-extensions
urllib3
Werkzeug==1.0.1
yarl
zipp
